<div class="row">
  <div class="col">
    <h1 id="index-page">Join a Game</h1>
    <h2 align="center"><input type="text" id="name" name="GameName"></h2>
    <h3 align="center"><a id="url" onclick="this.href = '/game/' + document.getElementById('name').value" href="" >JOIN</a></h3>
  </div>
</div>