/* This file is for your main application css. */

@import "bootstrap";

h1 {
    text-align: center;
}

.dgButtons{
    height: 50px;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: darkgreen;
}

.lgButtons{
    height: 50px;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
    background-color: lightgreen;
}

.rowLetter{
    font-size: 15px;
    margin-right: 20px;
}
.colLetter{
    font-size: 15px;
}

.disc-bl {
    background-color:black;
    border-radius: 100%;
    width:100%;
    height:100%;
}

.board {
    width: 66.666%;
    float: left;
}

.player {
    width: 33.333%;
    float: right;
}

.playerJoin{
    margin-left: 13%;
    margin-top: 3%;
}

.playerJoinIp{
    margin-left: 15%;
    margin-top: 3%;
}

.playerJoinBt{
    margin-left: 20%;
    margin-top: 3%;
}

.disc-wh {
    background-color:white;
    border-radius: 100%;
    width:100%;
    height:100%;
}

.card-deck .card {
    margin-bottom: 5px;
    margin-right: 5px;
    height: 50px;
    background-color: Grey;
}

.card-title {
    text-align: center;
    line-height: 2;
}

.matched {
    background-color: White;
    text-align: center;
    line-height: 2;
}

.row {
    margin-left: 5px;
    margin-top: 5px;
}

.rightCol {
    float: right;
}